/*** HOME PAGE ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #faf0f0;
    font-size: 15px;
    font-family:sans-serif;
    line-height: 140%;
}
.nav{
    padding: 5px;
	background-color: #c7d1d5;
}
.nav li{
    display: inline-block;
    margin-left: 8px;
	padding: 2px 5px;
    text-align: center;
    color: #b97c0d;
    background-color: #f6e4e4; 
    list-style: none;
}
nav li:hover{
    background-color: #b97c0d;
    color: #ede8e8;
    cursor: pointer;
}
.sign{
    text-align: right;
    padding: 10px;
    background-color: #9e6f6f;
    color: orangered;
}
.sign-up{
	font-size: 18px;
}
.sign-in{
    color: #1de41d;
    margin-top: 10px;
	font-size: 16px;
}
.sign a{
    width: 70px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background-color: #ede8e8;
    border: 1px solid #ede8e8;
    color: saddlebrown;
    text-decoration: none;
}
.sign a:hover{
    color: #ede8e8;
    background-color: saddlebrown;
}
.sign h3{
	margin-right: 120px;
	margin-bottom: 20px;
	font-size: 20px;
}
.sign-in-btn{
    width: 70px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background-color: #ede8e8;
    border: 1px solid #ede8e8;
    color: saddlebrown;
}
.sign-in-btn:hover{
    color: #ede8e8;
    background-color: saddlebrown;
}
.sign-in-btn:active{
	 color: #ede8e8;
    background-color: #b15b1e;
}
.admin-signin{
    width: 70px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background-color: #ede8e8;
    border: 1px solid #ede8e8;
    color: saddlebrown;
}
.admin-signin:hover{
    color: #ede8e8;
    background-color: saddlebrown;
}
#myform input{
    height: 30px;
    margin-bottom: 10px;
    text-align: left;
    padding: 3px;
    color: brown;
	font-size: 16px;
}
input{
    height: 25px;
    margin-bottom: 10px;
    text-align: left;
    padding: 3px;
    color: brown;
	font-size: 14px;
}
.main-body{
    padding: 10px;
    text-align: center;
}
header h1{
    margin-top: 20px;
    color: #b23737;
}
header h1 emp{
	font-style: italic;
	background-color: rgba(238, 218, 108, 0.99);
}
header p{
    margin-top: 15px;
    color: #c1ab2e;
    margin-bottom: 20px;
    font-style: italic;
}
img{
    width: 90%;
}
.info{
    margin-top: 40px;
	margin-left: 20%;
    text-align: left;
    color: brown;
}
.info h2{
    margin-bottom: 10px;
}
.info ul{
    margin-left: 20px;
}
#myform label{
    margin-right: 5px;
	font-size: 20px;
}

.create-acct{
    height: 30px;
    font-size: 16px;
    cursor: pointer;
	margin-right: 70px;
	color: indianred;
	margin-top: 20px;
	background-color: whitesmoke;
}
.create-acct:hover{
	color: whitesmoke;
	background-color: indianred;
}

/** SIGNED IN PAGE **/

.nav a{
    text-decoration: none;
    color: #b97c0d;
}
.nav a:hover{
    background-color: #b97c0d;
    color: #ede8e8;
    cursor: pointer;
}
.sign-out{
    float: right;
    clear: both; 
}
.body{
    margin-top: 40px;
    color: #c24343;
}

/** PROFILE **/
.details{
    margin-top: 20px;
}
.details h3,label{
    color: #c1ab2e;
}
.profile-info{
	text-align: left;
	border: 3px solid lightgray;
	width: 330px;
	margin: 20px;
	background-color:#efe3e3;
}
.profile-info label{
	color: #3f3a3a;
}
.profile-info header{
	margin-bottom: 70px;
}
.total-completed{
	color: green;
}
.total-transit{
	color: red;
}

/** CREATE ORDER PAGE**/
.body p{
    margin-top: 15px;
}
.body form{
    margin-top: 40px;
    text-align: right;
    padding-right: 40%;
}
@media screen and (max-width: 540px){
	.body form{
	   padding-right: 25%;
	}
}
.submit-order{
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.username{
    text-transform: capitalize;
}

/** GET ALL ORDERS PAGE **/

.main-body{
	position: relative;
}
button{
    margin-left: 10px;
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.order-username{
	display: inline-block;
	width: 100px;
}
.orders a, .details a{
    text-decoration: none;
    color: black;
}
.order-details{
	border: 1px solid lightgray;
	width: 340px;
	margin: 10px auto;
}
.order-info{
	text-align: left;
	padding: 10px;
}
.order-info label{
	font-weight: 700;
	margin-right: 3px;
}
.location, .location1{
    width: 220px;
	height: 32px;
}

@media screen and (max-width: 630px){
	.location{
		margin-left: 110px;
	}
}
@media screen and (max-width: 550px){
	.location1{
		margin-left: 50px;
	}
}

.present-location{
    color: cadetblue;
	text-transform: capitalize;
	font-size: 12px;
}
.dest-modal, .location-modal{
	width: 400px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	background-color: white;
	color: black;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	z-index: 1;
}
.dest-modal input, .location-modal input{
	width: 300px;
	text-align: left;
	padding: 3px;
	margin-top: 10px;
	height: 30px;
}

/** ADMIN PAGE **/
.admin{
    float: right;
}
.admin a{
    color: lightcoral;
}
.status-state{
    font-style: italic;
    color: green;
}
.pending{
    color: red;
}
.delivered{
    color: green;
}
.search-by-user{
	margin-top: 10px;
}
.search-by-user label{
	font-style: italic;
	color: cadetblue;
	font-size: 14px;
}
.search-by-user input{
	height: 25px;
	padding: 5px;
}
.admin-profile{
	text-align: left;
	border: 3px solid lightgray;
	width: 400px;
	margin: 20px auto;
	background-color:#efe3e3;
	padding: 10px;
}
.admin-profile label{
	color: #3f3a3a;
}
.d-none{
    display: none;
}
